<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controlador.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pacienteServlet</servlet-name>
        <servlet-class>Controlador.pacienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>medicoServlet</servlet-name>
        <servlet-class>Controlador.medicoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reservarcitaServlet</servlet-name>
        <servlet-class>Modelo.reservarcitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarCitaServlet</servlet-name>
        <servlet-class>Controlador.ReservarCitaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>citaservlet</servlet-name>
        <servlet-class>Controlador.citaservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mantenimientoServlet</servlet-name>
        <servlet-class>Controlador.mantenimientoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pacienteServlet</servlet-name>
        <url-pattern>/pacienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>medicoServlet</servlet-name>
        <url-pattern>/medicoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reservarcitaServlet</servlet-name>
        <url-pattern>/reservarcitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarCitaServlet</servlet-name>
        <url-pattern>/ReservarCitaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>citaservlet</servlet-name>
        <url-pattern>/citaservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mantenimientoServlet</servlet-name>
        <url-pattern>/mantenimientoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
