* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body {
    overflow-x: hidden;
    background: rgb(255, 255, 255);
}
/*Header*/
.header {
    width: 100%;
    position: fixed;
    background: rgb(255, 255, 255);
    z-index: 1000;
}
.header .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.container .logo > img {
    padding: 10px;
}
.container .btn-menu label {
    color: rgb(3, 64, 150);
    font-size: 30px;
    cursor: pointer;
}
.container .menu {
    margin-left: 30%;
}
.container .menu ul {
    background: rgb(255, 255, 255);
    margin: 10px 10px;
    padding: 25px 10px;
}
.container .menu li{
    display: inline-block;
    background: rgb(255, 255, 255);
    text-align: center;
}
.container .menu  a {
    text-decoration: none;
    color: #1f1f1f;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    padding: 10px 0px;
}
.container .menu .menu_inside li a:hover {
    border-bottom: 2px solid rgb(3, 64, 150);
}
.menu ul, li {
    list-style: none;
}
.menu li ul {
    display: none;
    position: absolute;
}
.menu li:hover > ul {
    display: block;
}
/*Fin header*/

/*Menu lateral*/
#btn-menu {
    display: none;
}
.container-menu {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}
.cont-menu {
    width: 100%;
    max-width: 250px;
    background: rgb(3, 64, 150);
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(1000%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(1090px);
}
.cont-menu nav {
    transform: translateY(15%);
}
.cont-menu nav a {
    display: block;
    text-decoration: none;
    font-size: 15px;
    padding: 17px 30px;
    color: rgb(255, 255 ,255);
    border-right: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover {
    border-right: 10px solid rgb(255, 255 ,255);
    background: rgba(255, 255 ,255, 0.2);
}
.cont-menu label i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: rgb(255, 255 ,255);
    cursor: pointer;
    font-size: 20px;
}
.cont-menu label i:hover{
    color: rgba(255, 255 ,255, 0.2);
}
/*Fin Menu lateral*/
/*Contenedor*/
.contenedor{
    width: 60%;
    margin: 20px auto;
}


/*Carrusel*/
.carousel-item h5{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: #fff;
}
.carousel-item p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}
.carousel-item a{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.slide{
    margin-top: 80px;
}
.slide img{
    height: 90vh;
}
/*Fin carrusel*/



/*Footer*/
footer{
    padding: 30px 0px;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    margin-top: 2px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 15px;
}

.social-media i:hover{
    color: #fff;
    background-color: rgb(3, 64, 150);
}
.social-media h5{
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}
/*Fin footer*/
